@use './variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:first-child {
  margin-top: 0;
  padding-top: 0;
}

*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Apply scroll-margin to your anchor target elements */
:target /* Add other anchor IDs here */ {
  scroll-margin-top: 64px;
}

/* Smooth scrolling with accessibility and browser support checks */
@media (prefers-reduced-motion: no-preference) {
  @supports (scroll-behavior: smooth) {
    html {
      scroll-behavior: smooth;
    }
  }
}
