@use './variables' as *;

/* FRONT PAGE HERO */
.hero {
  display: block;
  height: 800px;
  width: 100%;
  margin-inline: auto;
  background-color: $bg-clr-light-5;
  z-index: 1;
  overflow: hidden;

  &__content-wrapper {
    display: block;
    height: 600px;
    width: 100%;
    margin-inline: auto;
  }

  &__content {
    display: flex;
    height: 600px;
    width: 100%;
    position: relative;
    background-image:
      linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
      url(./../images/hero/hero.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0;

    /* Animation */
    will-change: opacity;
    transform-origin: center center;
    backface-visibility: hidden;
    animation-name: opacity-main-hero-picture;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes opacity-main-hero-picture {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__content-cta-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - $spacer-inline);
    max-width: $max-content-width;
    gap: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content-heading {
    /* Animation */
    will-change: transform, opacity;
    opacity: 0;
    animation: fade-in-slide-up 0.85s ease forwards; /* Name, duration, timing function, fill mode */
    animation-delay: 0.36s; /* Optional: delay the start of the animation */
  }

  &__content-heading-support {
    text-align: center;
    color: $text-clr-heading-support;
    font-size: clamp(1.1rem, 2.5vw, 1.6rem) !important;
    font-weight: 400;

    /* Animation */
    will-change: transform, opacity;
    opacity: 0;
    animation: fade-in-slide-up 0.85s ease forwards; /* Name, duration, timing function, fill mode */
    animation-delay: 0.46s; /* Optional: delay the start of the animation */
  }

  @keyframes fade-in-slide-up {
    0% {
      opacity: 0;
      transform: translateY(
        -24px
      ); /* Start slightly below its final position */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End at its final position */
    }
  }

  &__content-cta {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__content-images-container {
    display: flex;
    height: 200px;
    width: calc(100% - $spacer-inline);
    max-width: $max-content-width;
    gap: 1.5rem;
    margin-inline: auto;

    position: absolute;
    left: 50%;
    bottom: -140px;
    transform: translateX(-50%);
  }

  &__content-image-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    background-color: $bg-clr-light-5;
    border-radius: $border-radius;
    box-shadow: $box-shadow-primary;

    /* Animation */
    will-change: transform, opacity;
    opacity: 0;
    animation: hero-picture-appear 1.2s cubic-bezier(0.25, 1, 0.5, 1) 0.65s
      forwards;
  }

  @keyframes hero-picture-appear {
    0% {
      opacity: 0;
      transform: translateY(40px) scale(0.96);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  &__content-image-wrapper--1 {
    background-image: url(./../images/hero/nails_service.webp);
  }

  &__content-image-wrapper--2 {
    background-image: url(./../images/hero/makeup_service.webp);
    @media (max-width: 600px) {
      display: none;
    }
  }

  &__content-image-wrapper--3 {
    background-image: url(./../images/hero/brows_service.webp);
  }

  &__content-image-wrapper--4 {
    background-image: url(./../images/hero/eyelashes_service.webp);
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__panel {
    display: block;
    width: 100%;
    height: 200px;
    background-color: $bg-clr-light-7;
  }
}

/* SUBPAGE HERO */
.subhero {
  display: block;
  width: 100%;
  margin-inline: auto;

  &__content-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    margin-inline: auto;
    position: relative;
  }

  &__content-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background-position: center;
    background-repeat: repeat;
    background-size: fill;
    background-image:
      linear-gradient(
        135deg,
        rgba(249, 238, 231, 0.65) 0%,
        rgba(255, 242, 239, 0.15) 30%,
        rgba(255, 242, 239, 0.15) 70%,
        rgba(249, 238, 231, 0.65) 100%
      ),
      url(./../images/subhero/brick-wall.png);
    height: 100%;
    z-index: -1;
  }

  &__content {
    display: block;
    height: 100%;
    width: calc(100% - $spacer-inline);
    max-width: $max-content-width;
    margin-inline: auto;
    padding-block: $spacer-block-medium;
  }

  &__content-image-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 230px));
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__content-image-wrapper {
    display: block;
    width: 100%;
    max-width: 230px;
    border-radius: $border-radius;
  }

  &__content-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &__content-image--1 {
    margin-top: -20px;
    margin-left: 7px;
  }

  &__content-image--2 {
    margin-top: 20px;
    margin-left: -7px;
  }
}
