@use './variables' as *;

/* STICKY NAV SECTION */
.navigation-container {
  will-change: transform;
  display: block;
  height: 64px;
  width: 100%;
  margin-inline: auto;
  background-color: $bg-clr-dark-2;
  position: relative; // POSITIONING '.menu-top-nav-bar-container'
  z-index: 3;
  opacity: 1;
}

.navigation-container--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: none;
  animation: slide-down 0.5s ease-out forwards;
}

.navigation-wrapper {
  display: block;
  height: 64px;
  width: 100%;
  margin-inline: auto;
  position: relative; // POSITIONING '.menu-top-nav-bar-container'
}

/* Animation for first appearance */
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* NAV */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  height: 64px;
  width: calc(100% - $spacer-inline);
  max-width: $max-content-width;
  margin-inline: auto;

  &__links-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* NAV CONTAINER */
  .menu-top-nav-bar-container {
    display: block;
    height: 100%;
    width: max-content;
    margin-left: auto;
  }

  /* HIDE NAV LINKS IF THE TABLET SCEEN WIDTH */
  @media (max-width: $tablet_width) {
    .menu-top-nav-bar-container,
    .menu-top-nav-bar-english-container,
    .menu-top-nav-bar-chinese-container {
      z-index: -1000;
      visibility: hidden;
      opacity: 0;
    }
  }

  /* UL */
  .menu-top-nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  /* LI */
  .menu-item {
    display: block;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400;
    color: $text-clr-tertiary;
    position: relative; // It is for the Sub Nav (1 Level)
  }

  /* CURRENT LINK */
  .menu-top-nav-bar > .current-menu-item > a {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .menu-top-nav-bar .sub-menu .current-menu-item > a {
    text-decoration: none;
    color: transparent;
  }

  .menu-top-nav-bar > .menu-item > a {
    display: block;
    height: 100%;
    padding-block: 18px;
  }

  .menu-item-has-children > a {
    position: relative;
    display: block;
    height: 100%;
    margin-right: 12px;
  }

  /* Show an icon if the menu item has children */
  .menu-item-has-children > a::after {
    content: '';
    position: absolute;
    line-height: 1.6;
    color: $text-clr-secondary;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    opacity: 0.5;
    z-index: 1;
    background-image: url(./../images/navbar/right_arrow.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 8px;
    width: 5px;
    transition: transform 0.25s ease;
    filter: invert(25%);
  }

  .menu-item-has-children.submenu-open > a::after {
    transform: translateY(-50%) rotate(90deg);
  }

  .menu-top-nav-bar .menu-item .sub-menu .menu-item-has-children > a::after {
    right: -4px;
  }

  /* MULTI LAVEL NAV STYLES */
  .menu-item .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;
    width: 220px;
    list-style: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    background-color: $bg-clr-light;
    box-shadow: $box-shadow;
    z-index: 999;
  }

  .menu-top-nav-bar > .menu-item > .sub-menu > .menu-item > .sub-menu {
    position: absolute;
    top: 0 !important;
    left: 100%;
  }

  .menu-top-nav-bar > .menu-item > .sub-menu > .menu-item > a,
  .menu-top-nav-bar
    > .menu-item
    > .sub-menu
    > .menu-item
    > .sub-menu
    > .menu-item
    > a {
    display: block;
    height: 100%;
    padding: 12px 8px !important;
  }

  .menu-top-nav-bar > .menu-item > .sub-menu > .menu-item:hover,
  .menu-top-nav-bar
    > .menu-item
    > .sub-menu
    > .menu-item
    > .sub-menu
    > .menu-item:hover {
    background-color: $bg-clr-light-3;
  }

  /* The solution with JavaScript to handle opening the "sub-menu" on tablets and smartphones */
  .menu-item-has-children.submenu-open > .sub-menu {
    display: block;
  }

  .menu-top-nav-bar a {
    text-decoration: none;
    color: $text-clr-tertiary;
  }

  /* LOGO */
  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 64px;
    width: 64px;
  }

  &__logo {
    display: block;
    height: 50px;
    width: 50px;
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    width: 28px;

    @media (min-width: $tablet_width) {
      display: none;
    }
  }

  &__button {
    display: block;
    height: 28px;
    width: 28px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
  }

  &__button:hover,
  &__button:focus {
    opacity: 0.75;
  }

  /* MOBILE MENU */
  @media (max-width: $tablet_width) {
    .menu-top-nav-bar-container,
    .menu-top-nav-bar-english-container,
    .menu-top-nav-bar-chinese-container {
      position: absolute !important;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100dvw;
      // min-height: calc(100dvh - 104px); // It is calculated with JavaScript (handleMenu.js)
      background-color: $bg-clr-dark-2;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
    }

    .menu-top-nav-bar-container {
      box-shadow: 0 0 1px 1px rgb(99, 99, 99, 0.25);
    }

    .menu-top-nav-bar {
      display: block;
      height: auto;
      width: calc(100% - $spacer-inline);
      text-align: left;
      padding-block: 18px;
      margin-inline: auto;

      z-index: -1001;
      transition: 0.35s ease-in-out;
      visibility: hidden;
      opacity: 0;
    }

    .menu-item,
    .menu-item a {
      height: 100%;
      min-height: 64px;
      line-height: 2;
    }

    .menu-item .sub-menu {
      position: static;
      width: 100%;
      box-shadow: none;
    }

    .menu-top-nav-bar > .menu-item > .sub-menu > .menu-item > .sub-menu {
      position: static;
      top: auto;
      left: 0;
      width: 100%;
      box-shadow: none;
    }

    .menu-top-nav-bar > .menu-item > .sub-menu > .menu-item > a,
    .menu-top-nav-bar
      > .menu-item
      > .sub-menu
      > .menu-item
      > .sub-menu
      > .menu-item
      > a {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .menu-top-nav-bar > .menu-item > .sub-menu > .menu-item > a {
      padding-left: 8px !important;
    }

    .menu-top-nav-bar
      > .menu-item
      > .sub-menu
      > .menu-item
      > .sub-menu
      > .menu-item
      > a {
      padding-left: 16px !important;
      background-color: $bg-clr-light-4;
    }

    // Show the menu
    .show-nav-bar-container {
      z-index: auto;
      visibility: visible;
      opacity: 1;
    }

    // Show the menu links
    .show-nav-bar-links {
      z-index: auto;
      visibility: visible;
      opacity: 1;
    }
  }
}

.custom-logo {
  max-height: 64px; /* match your theme setup */
  width: auto;
}

.custom-logo-link {
  display: inline-flex;
  align-items: center;
}
